# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

/coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db

# Local Dependecy Graphs
temp/*
